# Basic .gitattributes for a Lua repo.

# Source files
# ============
*.lua       text
# Luadoc output
# =============
*.html      text diff=html
*.css       text diff=css
*.json filter=lfs diff=lfs merge=lfs -text
