# Basic .gitattributes for a Lua repo.

# Source files
# ============
*.lua       text
# Luadoc output
# =============
*.html      text diff=html
*.css       text diff=css
# *.json linguist-detectable=false
*.md linguist-documentation=false
*.md linguist-detectable
*.txt linguist-detectable
#*.xml linguist-detectable
*.svg linguist-detectable
*.html linguist-detectable=false
*.json filter=lfs diff=lfs merge=lfs -text
