# Basic .gitattributes for a Lua repo.

# Source files
# ============
*.lua       text
# Luadoc output
# =============
*.html      text diff=html
*.css       text diff=css
*.json linguist-detectable=false
*.md linguist-documentation=false
*.md linguist-detectable
*.txt linguist-documentation=false
*.txt linguist-detectable
** linguist-detectable=true
# ^ testes hihihihahkjashlkhfgreçajkghvrewljkrjgb
*.json filter=lfs diff=lfs merge=lfs -text
